#include "common.keymap"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt_tp TAB ESC     &kp Q      &kp W     &kp E  &kp R        &kp T  &kp Y      &kp U  &kp I      &kp O           &kp P              &kp BACKSLASH  &kp BSPC
&kp LCTRL  &kp A      &kp S     &kp D  &kp F        &kp G  &kp H      &kp J  &kp K      &kp L           &kp SEMI           &kp RET
&kp LSHFT  &kp Z      &kp X     &kp C  &kp V        &kp B  &kp N      &kp M  &kp COMMA  &kp DOT         &kp SLASH          &kp RSHIFT
           &kp LGUI   &kp LALT         &mo 1               &kp SPACE                    &kp RALT        &kp RGUI
            >;
        };

        layer1 {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3          &kp N4          &kp N5           &kp N6            &kp N7             &kp N8  &kp N9     &kp N0            &kp MINUS  &kp EQUAL
&trans     &trans  &trans  &trans          &trans          &trans           &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans  &trans     &kp SINGLE_QUOTE  &trans
&trans     &trans  &trans  &trans          &trans          &trans           &trans            &trans             &trans  &kp SLASH  &trans            &trans
           &trans  &trans                  &trans                           &trans                                       &trans     &trans
            >;
        };

        layer2 {
            bindings = <
&kp CAPSLOCK  &kp PRINTSCREEN  &kp PAGE_UP     &kp HOME  &kp F2     &trans  &trans  &trans  &kp INSERT  &trans    &trans     &trans  &trans
&trans        &kp DELETE       &kp PAGE_DOWN   &kp END   &kp F2     &trans  &trans  &trans  &trans      &trans    &trans     &trans
&trans        &kp PAUSE_BREAK  &kp SCROLLLOCK  &kp F4    &kp LG(V)  &trans  &trans  &trans  &trans      &kp RGUI  &trans     &trans
              &trans           &trans                    &trans             &trans                      &kp RALT  &kp RCTRL
            >;
        };

        layer3 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8      &kp F9      &kp F10       &kp F11           &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &Device_USB  &device_bt1 0 0  &device_bt2 0 1  &device_bt3 0 2  &trans   &kp C_PLAY_PAUSE
&trans  &trans  &trans  &trans  &trans  &bootloader_reset 0 0 &trans  &trans  &kp C_PREV  &kp C_NEXT  &kp C_VOL_UP  &trans
        &trans  &trans          &trans          &trans                      &kp C_MUTE  &kp C_VOL_DN
            >;
        };

        layer4 { status = "reserved"; };
    };
};
